<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="titleTxt" class="form-label">Title</label>
    <input type="text" name="titleTxt" class="form-control" id="titleTxt" />

    <label for="postTxt" class="form-label">Post</label>
    <textarea name="postTxt" class="form-control" rows="7"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("partials/footer") -%>
